* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* background: transparent; */
    /* backdrop-filter: blur(1px); */

}

nav a {
    color: whitesmoke;
    text-decoration-line: none;
    /* color: black; */
    margin-left: 30px;
    font-size: 23px;
}

#home {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    border: 2px solid red;
    margin-top: 70px;
}

#home .my-pic {
    width: 30%;
    border: 2px solid rgb(214, 197, 47);
    display: flex;
    justify-content: center;
}

.my-pic img {
    border: 2px solid rgb(108, 214, 47);
    width: 90%;
}

.introduction {
    width: 70%;
    padding: 100px;
}

.introduction h1 {
    font-size: 40px;
}

.introduction p {
    font-size: 20px;
}

#portfolio {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
}

.project {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.pr1 img {
    width: 40%;
}

.pr2 img {
    width: 30%;
}

.project .discription {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    align-items: center;
    align-self: center;
    border: 2px solid green;
    padding: 30px;
    border-radius: 20% 30%/20px ;
}

.description p {
    font-size: 22px;
    max-width: 30%;
}

.service-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
}
html{
    scroll-behavior: smooth;
}
#service {
    display: flex;
    width: 70%;
    justify-content: space-between;
    /* border: 2px solid rgb(213, 231, 45); */
    overflow-x: hidden;
}

.servicecard {
    min-width: 40%;
    margin: 5%;
}

.servicecard h1 {
    text-align: center;
}

.service-container button {
    align-self: center;
    height: 50px;
    width: 50px;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}
.service-container button:hover{
    background-color: #cc7dcc;
    cursor: pointer;
}
.about-me-header{
    text-align: center;
    font-size: 50px;
}
#about{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    border: 2px solid blue;
    justify-content: center;
}
.about-me-Intro{
    width: 50%;
    border: 2px solid rgb(106, 233, 74);
}
.about-me-information{
    width: 50%;
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
}
.info-navbar{
    display: flex;
    width: 100%;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
}
.Education, .Skill{
    width: 20%;
    border: none;
    /* background-color: transparent; */
}
.info-description{
    display: flex;
    flex-direction: row;
}
.Education-info{
    width: 50%;
}
.Skill-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    display: none;
}
.Skill-description{
    display: flex;
    flex-direction: row;
}
